click==8.3.3
colorama==0.4.6
h11==0.16.0
uvicorn==0.46.0
fastapi
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
httpx
pydantic-settings
asyncpg
email-validator
